In [70]:
import pandas as pd
import os

In [71]:
df_path = os.path.abspath("C:\\Users\\GRIZELLE\\GitHub Projects\\100-Days-Of-Coding-ML\\Datasets\\StackOverflow survey data\\survey_results_public.csv")

schema_df_path = os.path.abspath("C:\\Users\\GRIZELLE\\GitHub Projects\\100-Days-Of-Coding-ML\\Datasets\\StackOverflow survey data\\survey_results_schema.csv")

In [72]:
df = pd.read_csv(df_path, index_col='Respondent')
schema_df = pd.read_csv(schema_df_path, index_col='Column')

In [73]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [74]:
df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [75]:
df['ConvertedComp'].head(15)

Respondent
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8     116000.0
9          NaN
10     32315.0
11     40070.0
12     14268.0
13     38916.0
14     66000.0
15         NaN
Name: ConvertedComp, dtype: float64

In [76]:
df['ConvertedComp'].median()

54049.0

In [77]:
df.median()

C:\Users\GRIZELLE\AppData\Local\Temp\ipykernel_5060\530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

Age                 29.0
CompTotal        63000.0
ConvertedComp    54049.0
WorkWeekHrs         40.0
dtype: float64

In [78]:
df.describe()

                Age      CompTotal  ConvertedComp   WorkWeekHrs
count  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean      30.834111  3.190464e+242   1.037561e+05     40.782174
std        9.585392            inf   2.268853e+05     17.816383
min        1.000000   0.000000e+00   0.000000e+00      1.000000
25%       24.000000   2.000000e+04   2.464800e+04     40.000000
50%       29.000000   6.300000e+04   5.404900e+04     40.000000
75%       35.000000   1.250000e+05   9.500000e+04     44.000000
max      279.000000  1.111111e+247   2.000000e+06    475.000000

In [79]:
df['ConvertedComp'].count()

34756

In [80]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4        Yes
5        Yes
        ...
64858    Yes
64867    Yes
64898    Yes
64925    Yes
65112    Yes
Name: Hobbyist, Length: 64461, dtype: object

In [81]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [82]:
df['UndergradMajor']

Respondent
1        Computer science, computer engineering, or sof...
2        Computer science, computer engineering, or sof...
3                                                      NaN
4        Computer science, computer engineering, or sof...
5        Computer science, computer engineering, or sof...
                               ...
64858    Computer science, computer engineering, or sof...
64867                                                  NaN
64898                                                  NaN
64925                                                  NaN
65112    Computer science, computer engineering, or sof...
Name: UndergradMajor, Length: 64461, dtype: object

In [83]:
df['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering                   31582
Another engineering discipline (such as civil, electrical, mechanical, etc.)       4754
Information systems, information technology, or system administration              4071
A natural science (such as biology, chemistry, physics, etc.)                      2205
Mathematics or statistics                                                          1849
Web development or web design                                                      1789
A business discipline (such as accounting, finance, marketing, etc.)               1375
A humanities discipline (such as literature, history, philosophy, etc.)            1007
A social science (such as anthropology, psychology, political science, etc.)        933
Fine arts or performing arts (such as graphic design, music, studio art, etc.)      725
I never declared a major                                                            453
A health science (such as nursing, pharmacy, radiology, etc.)                       252
Name: UndergradMajor, dtype: int64

In [84]:
df['UndergradMajor'].value_counts(normalize=True)

Computer science, computer engineering, or software engineering                   0.619316
Another engineering discipline (such as civil, electrical, mechanical, etc.)      0.093225
Information systems, information technology, or system administration             0.079831
A natural science (such as biology, chemistry, physics, etc.)                     0.043240
Mathematics or statistics                                                         0.036258
Web development or web design                                                     0.035082
A business discipline (such as accounting, finance, marketing, etc.)              0.026963
A humanities discipline (such as literature, history, philosophy, etc.)           0.019747
A social science (such as anthropology, psychology, political science, etc.)      0.018296
Fine arts or performing arts (such as graphic design, music, studio art, etc.)    0.014217
I never declared a major                                                          0.008883
A health science (such as nursing, pharmacy, radiology, etc.)                     0.004942
Name: UndergradMajor, dtype: float64

In [85]:
df['Country']

Respondent
1                   Germany
2            United Kingdom
3        Russian Federation
4                   Albania
5             United States
                ...
64858         United States
64867               Morocco
64898              Viet Nam
64925                Poland
65112                 Spain
Name: Country, Length: 64461, dtype: object

In [86]:
country_grp = df.groupby(['Country'])

In [87]:
country_grp.get_group('Germany')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
6,I am a developer by profession,No,NaN,14,NaN,NaN,NaN,Germany,European Euro,EUR,NaN,NaN,"Designer;Developer, front-end;Developer, mobile","Secondary school (e.g. American high school, G...",Employed full-time,White or of European descent,Man,Diversity of the company or organization;Langu...,Slightly satisfied,I am not interested in new job opportunities,HTML/CSS;Java;JavaScript,HTML/CSS;Java;JavaScript,NaN,NaN,Github;Slack,Confluence;Github;Slack;Trello,Not sure,NaN,Fairly important,NaN,NaN,Once a year,No,No,No,Never,Ask developers I know/work with;Read ratings o...,Amused,Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Watch help / t...,Windows,NaN,Android,Android;Docker;WordPress,I have some influence,Straight / Heterosexual,Yes,"Yes, somewhat",A few times per month or weekly,A few times per week,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
23,I am a developer by profession,Yes,27.0,14,NaN,NaN,NaN,Germany,European Euro,EUR,NaN,NaN,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Flex time or a flexible schedule;Languages, fr...",Very satisfied,I am not interested in new job opportunities,C#;C++,Bash/Shell/PowerShell;C#;C++,.NET Core,.NET,Confluence;Jira;Github,Confluence;Jira;Github,No,Neutral,Fairly important,Curious about other opportunities;Better compe...,Company reviews from third party sites (e.g. G...,Every few months,No,Onboarding? What onboarding?,No,Rarely: 1-2 days per year or less,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,Windows,100 to 499 employees,Arduino;Linux;Raspberry Pi,Arduino;Raspberry Pi;Windows,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,Daily or almost daily,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Somewhat less welcome now than last year,40.0,8,3
24,I am a developer by profession,Yes,45.0,14,Yearly,85000.0,91883.0,Germany,European Euro,EUR,Cassandra;PostgreSQL,PostgreSQL;SQLite,"Developer, back-end","Professional degree (JD, MD, etc.)",Employed full-time,White or of European descent,Man,"Languages, frameworks, and other technologies ...",Very satisfied,I am not interested in new job opportunities,Bash/Shell/PowerShell;Go;Java;Julia;Kotlin;Pyt...,Bash/Shell/PowerShell;Java;Kotlin;PHP;SQL,NaN,NaN,Confluence;Jira;Github;Gitlab;Microsoft Teams,Confluence;Jira;Github;Gitlab;Slack;Microsoft ...,Not sure,Somewhat important,Very important,Having a bad day (or week or month) at work;Cu...,NaN,Every few months,No,Yes,Yes,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow...,Linux-based,20 to 99 employees,AWS;Docker;Kubernetes;Linux;MacOS,Docker;Kubernetes;Linux;MacOS,I have some influence,Straight / Heterosexual,Yes,"Yes, definitely",Daily or almost daily,Multiple times per day,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,42.0,30,20
34,I am a developer by profession,Yes,29.0,15,NaN,NaN,NaN,Germany,NaN,NaN,Elasticsearch;MongoDB;Redis,MongoDB;PostgreSQL,"Developer, back-end;Developer, full-stack","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Not employed, but looking for work",White or of European descent,Man,"Flex time or a flexible schedule;Languages, fr...",NaN,I am actively looking for a job,Go;TypeScript,HTML/CSS;Java;JavaScript;SQL;TypeScript,Flutter;Node.js;React Native,Node.js,Github;Gitlab,Confluence;Github;Gitlab,NaN,NaN,Very important,Better compensation;Wanting to work with new t...,"Read company media, such as employee blogs or ...",Once a year,Yes,NaN,Yes,NaN,Ask developers I know/work with;Visit develope...,Amused,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,AWS;Raspberry Pi,Heroku;Raspberry Pi,NaN,Gay or Lesbian,Yes,"Yes, somewhat",Multiple times per day,Multiple times per day,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Express;React.js;Spring,Angular;Express,Somewhat more welcome now than last year,NaN,10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36284,NaN,Yes,NaN,11,NaN,NaN,NaN,Germany,NaN,NaN,NaN,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Student,NaN,NaN,NaN,NaN,NaN,C;Python;Rust,C;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a year,Not sure,NaN,NaN,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,"No, not really",Less than once per month or monthly,Daily or almost daily,NaN,NaN,NaN,Mathematics or statistics,NaN,NaN,Just as welcome now as I felt last year,NaN,15,NaN
42558,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42851,NaN,Yes,43.0,11,NaN,NaN,NaN,Germany,NaN,NaN,NaN,NaN,NaN,"Associate degree (A.A., A.S., etc.)",NaN,White or of European descent,NaN,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;C#;HTML/CSS,Assembly;Bash/Shell/PowerShell;C#;HTML/CSS,NaN,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN,Once every few years,Not sure,NaN,NaN,NaN,Start a free trial,Indifferent,Stack Overflow (public Q&A for anyone who code...,Meditate;Visit Stack Overflow;Go for a walk or...,Linux-based,NaN,Arduino;Linux,Arduino;Linux,NaN,NaN,Yes,"Yes, somewhat",Daily or almost daily,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,28,NaN
52163,NaN,Yes,NaN,14,NaN,NaN,NaN,Germany,NaN,NaN,PostgreSQL,MariaDB;MongoDB;PostgreSQL;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Student,White or of European descent,Man,NaN,NaN,NaN,Rust;SQL,C;C++;Go;HTML/CSS;JavaScript;Perl;PHP;Python;R...,Ansible;Pandas;TensorFlow,Ansible;Pandas;TensorFlow;Torch/PyTorch,Github,Jira;Github;Gitlab;Slack;Trello,NaN,NaN,NaN,NaN,NaN,Once a year,Not sure,NaN,NaN,NaN,Ask developers I know/work with;Visit develope...,Indifferent,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Linux-based,NaN,Linux,Docker;Linux;Windows,NaN,Straight / Heterosexual,No,"No, not really",NaN,Multiple times per day,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,React.js,Just as welcome now as I felt last year,NaN,7,NaN
56263,NaN,Yes,NaN,14,NaN,NaN,NaN,Germany,NaN,NaN,MariaDB;Microsoft SQL Server;MongoDB;Oracle,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Ora...,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Student,White or of European descent,Man,NaN,NaN,NaN,C#;Haskell;Java;Kotlin;Python;Ruby;Rust;Scala;SQL,Assembly;C;C#;Haskell;Java;Kotlin;PHP;Python;R...,Flutter;Keras;Pandas;TensorFlow;Unity 3D,.NET;Flutter;Hadoop;Keras;Pandas;TensorFlow;To...,"Github;Gitlab;Trello;Google Suite (Docs, Meet,...",Github;Gitlab;Slack;Microsoft Azure;Trello;Goo...,NaN,NaN,NaN,NaN,NaN,Once a year,No,NaN,NaN,NaN,Ask developers I know/work with;Read ratings o...,Amused,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Linux-based,NaN,Raspberry Pi,Arduino;Docker;Linux;Microsoft Azure;Raspberry Pi,NaN,Bisexual,Yes,Neutral,I have never participated in Q&A on Stack Over...,A few times per month or weekly,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,Angular;jQuery;Ruby on Rails,Just as welcome now as I felt last year,NaN,7,NaN

In [88]:
filt = df['Country'] == 'Germany'
df.loc[filt]['LanguageWorkedWith']

Respondent
1                                   C#;HTML/CSS;JavaScript
6                                 HTML/CSS;Java;JavaScript
23                            Bash/Shell/PowerShell;C#;C++
24               Bash/Shell/PowerShell;Java;Kotlin;PHP;SQL
34                 HTML/CSS;Java;JavaScript;SQL;TypeScript
                               ...
36284                                             C;Python
42558                                                  NaN
42851           Assembly;Bash/Shell/PowerShell;C#;HTML/CSS
52163    C;C++;Go;HTML/CSS;JavaScript;Perl;PHP;Python;R...
56263    Assembly;C;C#;Haskell;Java;Kotlin;PHP;Python;R...
Name: LanguageWorkedWith, Length: 3890, dtype: object

In [89]:
country_grp['LanguageWorkedWith'].value_counts().loc['Philippines']

LanguageWorkedWith
HTML/CSS;JavaScript;PHP;SQL                          14
C#;HTML/CSS;Java;JavaScript;PHP;SQL                  13
Python                                                8
HTML/CSS;JavaScript;PHP                               7
Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;SQL     5
                                                     ..
PHP                                                   1
PHP;SQL                                               1
Python;SQL;VBA                                        1
Ruby;SQL                                              1
SQL;VBA                                               1
Name: LanguageWorkedWith, Length: 258, dtype: int64

In [90]:
country_grp['ConvertedComp'].agg(['median', 'mean']).loc['Philippines']

median     8292.000000
mean      13737.007752
Name: Philippines, dtype: float64

In [91]:
filt = df['Country'] == 'Philippines'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

124

In [92]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [93]:
country_respondents = df['Country'].value_counts()
country_respondents

United States       12469
India                8403
United Kingdom       3896
Germany              3890
Canada               2191
                    ...
Kiribati                1
Nauru                   1
Lesotho                 1
Saint Lucia             1
Marshall Islands        1
Name: Country, Length: 183, dtype: int64

In [94]:
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [95]:
python_df = pd.concat([country_respondents, country_uses_python], axis='columns', sort=False)
python_df

                  Country  LanguageWorkedWith
United States       12469                5964
India                8403                2670
United Kingdom       3896                1621
Germany              3890                1712
Canada               2191                1011
...                   ...                 ...
Kiribati                1                   0
Nauru                   1                   0
Lesotho                 1                   0
Saint Lucia             1                   1
Marshall Islands        1                   0

[183 rows x 2 columns]

In [96]:
python_df.rename(columns={'Country':'TotalRespondents', 'LanguageWorkedWith':'WorkedWithPython'}, inplace=True)
python_df

                  TotalRespondents  WorkedWithPython
United States                12469              5964
India                         8403              2670
United Kingdom                3896              1621
Germany                       3890              1712
Canada                        2191              1011
...                            ...               ...
Kiribati                         1                 0
Nauru                            1                 0
Lesotho                          1                 0
Saint Lucia                      1                 1
Marshall Islands                 1                 0

[183 rows x 2 columns]

In [97]:
python_df['KnowsPythonRate'] = (python_df['WorkedWithPython'] / python_df['TotalRespondents']) * 100
python_df

                  TotalRespondents  WorkedWithPython  KnowsPythonRate
United States                12469              5964        47.830620
India                         8403              2670        31.774366
United Kingdom                3896              1621        41.606776
Germany                       3890              1712        44.010283
Canada                        2191              1011        46.143314
...                            ...               ...              ...
Kiribati                         1                 0         0.000000
Nauru                            1                 0         0.000000
Lesotho                          1                 0         0.000000
Saint Lucia                      1                 1       100.000000
Marshall Islands                 1                 0         0.000000

[183 rows x 3 columns]

In [98]:
python_df.sort_values(by='KnowsPythonRate', ascending=False, inplace=True)
python_df.head()

,TotalRespondents,WorkedWithPython,KnowsPythonRate
Gabon,1,1,100.000000
Saint Lucia,1,1,100.000000
"Micronesia, Federated States of...",1,1,100.000000
Montenegro,13,9,69.230769
Brunei Darussalam,3,2,66.666667

In [ ]:
python_df.loc['Japan']