In [12]:
# Filtering - Using Conditionals to Filter Rows and Columns

In [13]:
people = {
    "first_name": ["Corey", "Jane", "John"],
    "last_name": ["Schafer", "Doe", "Doe"],
    "email": ["coreymschafer@email.com", "janedoe@email.com", "johndoe@email.com"]
}

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame(people)

In [16]:
df

  first_name last_name                    email
0      Corey   Schafer  coreymschafer@email.com
1       Jane       Doe        janedoe@email.com
2       John       Doe        johndoe@email.com

In [17]:
df['last_name'] == 'Doe'

0    False
1     True
2     True
Name: last_name, dtype: bool

In [18]:
#df_filter = (df['last_name'] == 'Doe')
#df[df['last_name'] == 'Doe']

In [19]:
#df[df_filter]

In [20]:
#df.loc[df_filter]

In [22]:
df_filter = ((df['last_name'] == 'Doe') & (df['first_name'] == 'Jane'))
df.loc[df_filter]

  first_name last_name              email
1       Jane       Doe  janedoe@email.com

In [23]:
df_filter = ((df['last_name'] == 'Doe') | (df['first_name'] == 'Jane'))
df.loc[df_filter]

  first_name last_name              email
1       Jane       Doe  janedoe@email.com
2       John       Doe  johndoe@email.com

In [24]:
df.loc[~df_filter, 'email']

0    coreymschafer@email.com
Name: email, dtype: object

In [ ]:
# Updating Rows and Columns - Modifying Data within DataFrames