In [2]:
# How to Set, Reset, and Use Indexes

In [3]:
people = {
    "first_name": ["Corey", "Jane", "John"],
    "last_name": ["Schafer", "Doe", "Doe"],
    "email": ["coreymschafer@email.com", "janedoe@email.com", "johndoe@email.com"]
}

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(people)

In [6]:
df

  first_name last_name                    email
0      Corey   Schafer  coreymschafer@email.com
1       Jane       Doe        janedoe@email.com
2       John       Doe        johndoe@email.com

In [7]:
df['email']

0    coreymschafer@email.com
1          janedoe@email.com
2          johndoe@email.com
Name: email, dtype: object

In [8]:
df.set_index('email')

                        first_name last_name
email
coreymschafer@email.com      Corey   Schafer
janedoe@email.com             Jane       Doe
johndoe@email.com             John       Doe

In [9]:
df

  first_name last_name                    email
0      Corey   Schafer  coreymschafer@email.com
1       Jane       Doe        janedoe@email.com
2       John       Doe        johndoe@email.com

In [10]:
df.set_index('email', inplace=True)

In [11]:
df

                        first_name last_name
email
coreymschafer@email.com      Corey   Schafer
janedoe@email.com             Jane       Doe
johndoe@email.com             John       Doe

In [12]:
df.index

Index(['coreymschafer@email.com', 'janedoe@email.com', 'johndoe@email.com'], dtype='object', name='email')

In [15]:
df.loc['coreymschafer@email.com']

first_name      Corey
last_name     Schafer
Name: coreymschafer@email.com, dtype: object

In [16]:
df.loc['coreymschafer@email.com', 'last_name']

'Schafer'

In [ ]:
df.loc[0] # error because it doesnt have an integer as its index (email)

In [17]:
df.reset_index(inplace=True)
df

                     email first_name last_name
0  coreymschafer@email.com      Corey   Schafer
1        janedoe@email.com       Jane       Doe
2        johndoe@email.com       John       Doe