In [23]:
# Updating Rows and Columns - Modifying Data within DataFrames

In [24]:
people = {
    "first_name": ["Corey", "Jane", "John"],
    "last_name": ["Schafer", "Doe", "Doe"],
    "email": ["coreymschafer@email.com", "janedoe@email.com", "johndoe@email.com"]
}

In [25]:
import pandas as pd

In [26]:
df = pd.DataFrame(people)

In [27]:
df

  first_name last_name                    email
0      Corey   Schafer  coreymschafer@email.com
1       Jane       Doe        janedoe@email.com
2       John       Doe        johndoe@email.com

In [28]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [29]:
df.applymap(len)

   first_name  last_name  email
0           5          7     23
1           4          3     17
2           4          3     17

In [30]:
df.applymap(str.lower)

  first_name last_name                    email
0      corey   schafer  coreymschafer@email.com
1       jane       doe        janedoe@email.com
2       john       doe        johndoe@email.com

In [31]:
df['first_name'].map({'Corey':'Chris','Jane':'Mary'})

KeyError: 'FIRST_NAME'

In [32]:
df['first_name'].replace({'Corey':'Chris','Jane':'Mary'})

0    Chris
1     Mary
2     John
Name: first_name, dtype: object

In [ ]:
df