In [1]:
import pandas as pd
import os

In [2]:
digimon_list = os.path.abspath("C:\\Users\\GRIZELLE\\GitHub Projects\\100-Days-Of-Coding-ML\\Datasets\\Digimon dataset\\DigiDB_digimonlist.csv")

move_list = os.path.abspath("C:\\Users\\GRIZELLE\\GitHub Projects\\100-Days-Of-Coding-ML\\Datasets\\Digimon dataset\\DigiDB_movelist.csv")

support_list = os.path.abspath("C:\\Users\\GRIZELLE\\GitHub Projects\\100-Days-Of-Coding-ML\\Datasets\\Digimon dataset\\DigiDB_supportlist.csv")

In [3]:
digimon_df = pd.read_csv(digimon_list)
move_df = pd.read_csv(move_list)
support_df = pd.read_csv(support_list)

In [4]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

In [5]:
digimon_df.head()

,Number,Digimon,Stage,Type,Attribute,...,Lv50 SP,Lv50 Atk,Lv50 Def,Lv50 Int,Lv50 Spd
0,1,Kuramon,Baby,Free,Neutral,...,77,79,69,68,95
1,2,Pabumon,Baby,Free,Neutral,...,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,...,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,...,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,...,98,54,59,95,86

In [9]:
digimon_df[['Digimon','Attribute']]

               Digimon Attribute
0              Kuramon   Neutral
1              Pabumon   Neutral
2              Punimon   Neutral
3              Botamon   Neutral
4              Poyomon   Neutral
..                 ...       ...
244         Valkyrimon      Wind
245    ShineGreymon BM      Fire
246  MirageGaogamon BM     Light
247         Ravemon BM      Wind
248         Rosemon BM     Plant

[249 rows x 2 columns]

In [ ]:
digimon_df.['Attribute'].value_counts()