In [11]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@email.com", "JaneDoe@email.com", "JohnDoe@email.com"]
}

In [12]:
people['email']

['CoreyMSchafer@email.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [13]:
import pandas as pd

In [14]:
df = pd.DataFrame(people)

In [15]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [16]:
df['email']

0    CoreyMSchafer@email.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [17]:
df.email

0    CoreyMSchafer@email.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [19]:
df[['first','last']]

   first     last
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [20]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [21]:
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@email.com
Name: 0, dtype: object

In [22]:
df.iloc[[0,1]] #first argument = rows

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
1   Jane      Doe        JaneDoe@email.com

In [23]:
df.iloc[[0,1], 2] #second argumant = colomns

0    CoreyMSchafer@email.com
1          JaneDoe@email.com
Name: email, dtype: object

In [25]:
df.loc[[0,1], ['first','last']]

SyntaxError: unexpected EOF while parsing (3460544780.py, line 1)